html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@font-face {
  src: url(fonts/woodwarrior.regular.otf);
  font-family: "woodwarriorreg";
}
@font-face {
  src: url(fonts/woodwarrior.light.otf);
  font-family: "woodwarriorlight";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1c1e20;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "woodwarriorlight", sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 1.1rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "woodwarriorreg", cursive;
  line-height: 1.3;
}
h1 {
  font-family: "woodwarriorreg";
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  width: 100%;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
.navbar {
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: #1c1e20;
}
.navbar .nav-container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 500px) {
  .navbar .nav-container {
    grid-template-columns: 100%;
    padding: 2rem;
  }
}
.navbar .nav-container .logo {
  font-size: 3rem;
  color: #fff;
}
@media (max-width: 500px) {
  .navbar .nav-container .logo {
    text-align: center;
    padding: 1rem;
  }
}
.navbar .nav-container .nav {
  list-style: none;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .navbar .nav-container .nav {
    justify-self: auto;
  }
}
.navbar .nav-container .nav a {
  color: #fff;
  padding: 0 1rem;
  cursor: pointer;
}
.navbar .nav-container .nav a:hover {
  color: #777;
}
.navbar .nav-container .nav .login {
  border: solid #40e0d0;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px;
}
.navbar .nav-container .nav .login:hover {
  background-color: #40e0d0;
  color: #1c1e20;
}
footer {
  margin-top: 8rem;
  border-top: 1px solid silver;
  height: 8rem;
}
footer .footer-content {
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
}
footer .footer-content .footer-inner {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}
footer .footer-content .footer-inner .footer-logo {
  width: 25%;
  float: left;
  height: 100%;
  display: block;
}
footer .footer-content .footer-inner .footer-logo .logo {
  width: 90px;
  height: auto;
}
footer .footer-content .footer-inner .footer-bar1 {
  width: calc(21.66666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}
footer .footer-content .footer-inner .footer-bar1 :last-child {
  margin-right: 0;
}
footer .footer-content .footer-inner .footer-bar1 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #fff;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
footer .footer-content .footer-inner .footer-bar1 a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
}
footer .footer-content .footer-inner .footer-bar1 a:hover {
  color: #40e0d0;
}
footer .footer-content .footer-inner .footer-bar2 {
  width: calc(21.66666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}
footer .footer-content .footer-inner .footer-bar2 :last-child {
  margin-right: 0;
}
footer .footer-content .footer-inner .footer-bar2 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #fff;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
footer .footer-content .footer-inner .footer-bar2 a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
}
footer .footer-content .footer-inner .footer-bar2 a:hover {
  color: #40e0d0;
}
footer .footer-content .footer-inner .footer-bar3 {
  width: calc(21.66666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}
footer .footer-content .footer-inner .footer-bar3 :last-child {
  margin-right: 0;
}
footer .footer-content .footer-inner .footer-bar3 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #fff;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
footer .footer-content .footer-inner .footer-bar3 a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
}
footer .footer-content .footer-inner .footer-bar3 a:hover {
  color: #40e0d0;
}
footer .footer-content .footer-inner .footer-bar3 li {
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
}
footer .footer-content .footer-inner .footer-bar3 span {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 200;
  display: block;
  width: 100%;
  padding-top: 20px;
}
footer p {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  color: #444;
  padding: 30px;
}
.top-section {
  position: relative;
  background: url("../img/overlay2.jpg") no-repeat bottom center / cover;
  height: 600px;
}
.top-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.top-section .overlay .top-section-inner {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 860px;
  padding: 5rem 0;
  background-color: transparent;
}
.top-section .overlay .top-section-inner h2 {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}
.top-section .overlay .top-section-inner h3 {
  font-size: 2rem;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 1rem;
  background-color: transparent;
}
.top-section .overlay .top-section-inner p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 1rem;
  background-color: transparent;
}
.main-section {
  margin: 2rem 0;
}
.main-section .main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .main-section .main-container {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}
.main-section h1 {
  font-size: 2.8rem;
  color: #fff;
  padding: 1rem;
}
.main-section p {
  font-size: 1rem;
  color: #fff;
  padding: 1rem 0;
}
.main-section .btn {
  display: inline-block;
  background: #888;
  color: #1c1e20;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 30px;
}
@media (max-width: 500px) {
  .main-section .btn {
    margin-bottom: 1.5rem;
  }
}
.main-section .btn:hover {
  background: #40e0d0;
}
.bottom-section {
  margin: 2rem 0;
}
.bottom-section .bottom-container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .bottom-section .bottom-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.bottom-section .bottom-container .bottom-left-section {
  position: relative;
  background: url("../img/vrstock.png") no-repeat bottom center / cover;
  height: 500px;
  margin-left: 5rem;
}
.bottom-section .bottom-container .bottom-left-section .bottom-left-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.bottom-section .bottom-container .bottom-left-section .bottom-left-overlay .bottom-left-overlay-inner {
  color: white;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: top;
  margin: auto;
  max-width: 860px;
  padding: 5rem 0;
  background-color: transparent;
}
.bottom-section .bottom-container .bottom-left-section .bottom-left-overlay .bottom-left-overlay-inner h3 {
  font-size: 2rem;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 1rem;
  background-color: transparent;
}
.bottom-section .bottom-container .bottom-left-section .bottom-left-overlay .bottom-left-overlay-inner p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 1rem;
  background-color: transparent;
}
.bottom-section .bottom-container .bottom-right-section {
  position: relative;
  background: url("../img/blackvr.png") no-repeat bottom center / cover;
  height: 500px;
  margin-right: 5rem;
}
.bottom-section .bottom-container .bottom-right-section .bottom-right-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.bottom-section .bottom-container .bottom-right-section .bottom-right-overlay .bottom-right-overlay-inner {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 860px;
  padding: 5rem 0;
  background-color: transparent;
}
.bottom-section .bottom-container .bottom-right-section .bottom-right-overlay .bottom-right-overlay-inner h3 {
  font-size: 2rem;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 1rem;
  background-color: transparent;
}
.bottom-section .bottom-container .bottom-right-section .bottom-right-overlay .bottom-right-overlay-inner p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 1rem;
  background-color: transparent;
}
